.Button {
    background-color: rgba(46, 101, 253, 1);
    width: 150px;
    height: 35px;
    border-radius: 100px;
    outline: none;
    border-width: 0;
    font-family: "averta-bold";
    color: white;
    cursor: pointer;
}

.Button:active {
    background-color: rgba(46, 101, 253, .5);
}

.Button:hover {
    box-shadow: 0px 3px 8px 2px rgba(46, 101, 253, .3);
}

.TextButton {
    color: rgba(46, 101, 253, 1);
    font-family: "averta-bold";
    cursor: pointer;
}

.ButtonNotValid {
    background-color: lightgrey;
    width: 150px;
    height: 35px;
    border-radius: 100px;
    outline: none;
    border-width: 0;
    font-family: "averta-bold";
    color: white;
}