.Input {
    width: 100%;
    border-width: 2px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(46, 101, 253, 1);
    box-sizing: border-box;
    font-family: "averta-regular";
    padding: 10px;
    font-size: 15px;
}

.Input:focus {
    border-width: 3px;
}

.NotValid {
    border: 2px solid red;
}